header.main__header
    .container
        nav.navbar.navbar-toggleable-md.navbar-light.bg-faded.navbar-default(style='display: block')
            #mainnavbar.collapse.navbar-center.navbar-collapse
                ul.navbar-nav.mr-auto
                    each item in mainMenu
                        li(class="nav-item" + ("/" + paths[0] == item.path ? " active" : ""))
                            a.nav-link(href=item.path)= item.title
                a.btn.btn-success.m-0(href="#", onclick="lock.show()") Sign up
            .navbar-header
                button.navbar-toggler.navbar-toggler-right(type='button', data-toggle='collapse', data-target='#mainnavbar', aria-controls='mainnavbar', aria-expanded='false', aria-label='Toggle navigation')
                    span.navbar-toggler-icon
                h1.navbar-brand
                    a(href='index.html')
                        span Paint
                        | ball
