header.main__header
    .container
        nav.navbar.navbar-toggleable-md.navbar-light.bg-faded.navbar-default(style='display: block')
            #mainnavbar.collapse.navbar-center.navbar-collapse
                ul.navbar-nav.mr-auto
                    li.nav-item.active
                        a.nav-link(href='#') Home
                    li.nav-item
                        a.nav-link(href='#') left sidebar
                    li.nav-item
                        a.nav-link(href='#') right sidebar
                    li.nav-item
                        a.nav-link(href='#') right page
                    li.nav-item
                        a.nav-link(href='#') contact us
            .navbar-header
                button.navbar-toggler.navbar-toggler-right(type='button', data-toggle='collapse', data-target='#mainnavbar', aria-controls='mainnavbar', aria-expanded='false', aria-label='Toggle navigation')
                    span.navbar-toggler-icon
                h1.navbar-brand
                    a(href='index.html')
                        span Paint
                        | ball
