mixin menuBlock()
    .navbar.navbar-light.bg-faded.navbar-default
        .navbar-center
            ul.navbar-nav
                li.m-1.ml-2.mr-3.nav-item.active
                    a.p-2.nav-link(href='#') Home
                li.m-1.ml-2.mr-3.nav-item
                    a.p-2.nav-link(href='#') left sidebar
                li.m-1.ml-2.mr-3.nav-item
                    a.p-2.nav-link(href='#') right sidebar
                li.m-1.ml-2.mr-3.nav-item
                    a.p-2.nav-link(href='#') right page
                li.m-1.ml-2.mr-3.nav-item
                    a.p-2.nav-link(href='#') contact us
