section.main__middle__container
    //.container
    //    .row.pb-0
    //        .col.joinus.text-center
    //            h2.w-100
    //                //span.text-center &nbsp;
    //            a.btn.btn-primary.btn-lg(href='#') Join us
    //            h2.w-100
    .container
        .row
            h2.text-center
                | Phasellus ultrices nulla quis nibh. Quisque a lectus. Lorem ipsum dolor sit amet,
                | consectetuer adipiscing elit.
            p.text-center.big-paragraph.w-100
                | Suspendisse urna nibh, viverra non, semper suscipit, posuere a,
                | pede.
    .text-center.three-blocks
        .container
            h2
                span our services
            .row
                .col-lg-4
                    .icon.p-2
                        i.fa.fa-fw.fa-check.fa-3x(aria-hidden='true')
                    h3 CLEAN FLAT & MINIMAL
                    img.img-fluid.rounded(src='/images/gallery/gallery10.jpg', alt='image')
                    p
                        | Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Donec odio. Quisque volutpat mattis
                        | eros.
                    p
                        a.btn.btn-lg.btn-primary(href='#', role='button') Learn more
                .col-lg-4
                    .icon.p-2
                        i.fa.fa-fw.fa-mobile.fa-3x(aria-hidden='true')
                    h3 FULLY RESPONSIVE
                    img.img-fluid.rounded(src='/images/gallery/gallery4.jpg', alt='image')
                    p
                        | Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Donec odio. Quisque volutpat mattis
                        | eros.
                    p
                        a.btn.btn-lg.btn-primary(href='#', role='button') Learn more
                .col-lg-4
                    .icon.p-2
                       i.fa.fa-fw.fa-cog.fa-3x(aria-hidden='true')
                    h3 EASY TO CUSTOMIZE
                    img.img-fluid.rounded(src='/images/gallery/gallery5.jpg', alt='image')
                    p
                        | Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Donec odio. Quisque volutpat mattis
                        | eros.
                    p
                        a.btn.btn-lg.btn-primary(href='#', role='button') Learn more
    .service-icons
        .container
            h2.text-center
                span about us
            .row.text-center
                .col-lg-6.mt-5
                    h3
                        | Donec odio. Quisque volutpat mattis eros.
                        | Nullam malesuada erat.
                    p
                        small Praesent semper mod quis eget mi. Etiam eu ante risus.
                    img.img-fluid.rounded(src='/images/gallery/gallery6.jpg', alt='pic1')
                    .clearfix
                    p
                        | Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Donec odio. Quisque volutpat mattis
                        | eros. Nullam malesuada erat ut turpis. Suspendisse urna nibh, viverra non, semper suscipit,
                        | posuere a, pede.
                    p
                        a.btn.btn-success.btn-lg(href='#', role='button') Learn more
                .col-lg-6.mt-5
                    h3
                        | Etiam eu ante risus. Aliquam erat volutpat.
                        | Aliquam luctus mattis.
                    p
                        small Praesent semper mod quis eget mi. Etiam eu ante risus.
                    img.img-fluid.rounded(src='/images/gallery/gallery7.jpg', alt='pic2')
                    .clearfix
                    p
                        | Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Donec odio. Quisque volutpat mattis
                        | eros. Nullam malesuada erat ut turpis. Suspendisse urna nibh, viverra non, semper suscipit,
                        | posuere a, pede.
                    p
                        a.btn.btn-success.btn-lg(href='#', role='button') Learn more
    .row.grey-info-block.text-center
        .container
            h2
                | Pellentesque egestas sem. Suspendisse commodo ullamcorper magna. Pellentesque egestas sem
                | suspendisse commodo ullamcorper ...
            p
                | Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque
                | laudantium, totam rem aperiam, eaque ipsa quae ab illo inventore eritatis et quasi architecto beatae
                | vitae dicta sunt explicabo.
                | Nemo enim ipsam voluptatem quia voluptas sit aspernatur aut odit aut fugit, sed quia consequuntur magni
                | dolores eos qui ratione
                | voluptatem sequi nesciunt.
            p
                a.btn.btn-info(href='#', role='button') Buy it
                a.btn.btn-default(href='#', role='button') Learn More
