article
    img.pull-left.img-fluid.rounded.mx-auto.d-block(src='/images/post/post1.jpg', alt='pic1')
    .text
        p
            small Lorem ipsum dolor sit amet
        h3
            a(href='#') Aliquam dictum felis a purus cursus
        p
            | Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Donec odio. Quisque volutpat mattis eros. Nullam malesuada erat ut turpis.
        p
            a.btn.btn-success(href='#') Learn more
    .clearfix
