.time-list {

    list-style-type: none;
    width: 100%;
    display: inline-block;
}

.time-list li {
    width: 50%;
    float: left;
    padding-left: 4px;
}

.time-list li span {
    width: 100%;
    text-align: center;
}

