.noselect {
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}
.time-list {
    width: 100%;
    font-size: 0;
    padding: 0;
}

.time-list li {
    font-size: 14px;
    list-style: none;
    display: inline-block;
    padding: 1px;
    cursor: default;
}

.time-list li div {
    transition: all 0.3s ease;
}

.time-list li.i div {
    cursor: pointer;
    background-color: #ffcd55;
    color: #444c4c;
}

.time-list li.i:hover div {
    opacity: 0.7;
}

.time-list li.d div {
    cursor: default;
    background-color: #d3d3d3;
}

.time-list li.d:hover div {
    opacity: 1;
}

.time-list li.s div {
    background-color: #444b4b;
    color: #ffffff;
}

.time-list li.s-a div {
    -webkit-transform: scale(0.9);
    -ms-transform: scale(0.9);
    transform: scale(0.9);
}

.time-list li.e div {
    background-color: #f44336;
    color: #ffffff;
}

.time-list li.e-a div {
    -webkit-transform: scale(0.8);
    -ms-transform: scale(0.8);
    transform: scale(0.8);
}
