extends ../layout

block before
block after

block content
    section.main__middle__container
        section.recent-posts
            .container
                h2.text-center
                    span recent post
                .row
                    .col-md-9
                        include ../block/news-article
                        article
                            img.float-left.img-fluid(src='/images/post/post2.jpg', alt='pic2')
                            .text
                                p
                                    small Lorem ipsum dolor sit amet
                                h3
                                    a(href='#') Aliquam dictum felis a purus cursus
                                p
                                    | Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Donec odio. Quisque volutpat mattis eros. Nullam malesuada erat ut turpis.
                                p
                                    a.btn.btn-success(href='#') Learn more
                            .clearfix
                        include ../block/news-article
                    .col-md-3
                        .icon-item
                            h3
                                a(href='#') Quisque enim augue mattis eget
                            p Lorem ipsum dolor sit amet
                        .icon-item
                            h3
                                a(href='#') Quisque enim augue mattis eget
                            p Lorem ipsum dolor sit amet
                        .icon-item
                            h3
                                a(href='#') Quisque enim augue mattis eget
                            p Lorem ipsum dolor sit amet
                        .icon-item
                            h3
                                a(href='#') Quisque enim augue mattis eget
                            p Lorem ipsum dolor sit amet
                        .icon-item
                            h3
                                a(href='#') Quisque enim augue mattis eget
                            p Lorem ipsum dolor sit amet
                        .icon-item
                            h3
                                a(href='#') Quisque enim augue mattis eget
                            p Lorem ipsum dolor sit amet
                        footer
                            a.btn.btn-primary(href='#') LEARN MORE

