extends ../layout

block before
block after

block content
    .container
        .row.p-0
            .col-12
                h2 2017.01.24
        .row.p-0
            .col-md-8
                form
                    fieldset.form-group
                        legend Contact Information
                            .button-show-hide.pull-right(data-toggle='group-collapse', data-target='.contactInformationGroup', data-icon-target='#group-collapse-icon')
                                a(href="#")
                                    i#group-collapse-icon.fa.fa-fw.fa-angle-up
                        .contactInformationGroup
                            .form-group.row.p-0
                                label.col-md-3.col-form-label(for='fullname') Name
                                .col-md-9
                                    input#fullname.form-control(type='text', name='fullname', value=user.displayName)
                            .form-group.row.p-0
                                label.col-md-3.col-form-label(for='email') Email
                                .col-md-9
                                    input#email.form-control(type='email', name='email', value=user.email)
                            .form-group.row.p-0
                                label.col-md-3.col-form-label(for='phone') Phone Number
                                .col-md-9
                                    input#phone.form-control(type='tel', name='phone', value=user.phone)
                    fieldset.form-group
                        legend Time Information
                        .form-group.row.p-0
                            label.col-sm-6.col-md-5.col-form-label(for='playersNumber') Number of Players
                            .col-sm-6.col-md-5
                                .input-group.group-number(role='group', data-default='8', data-min='2', data-max='50')
                                    button.btn.input-group-addon(type='button')
                                        i.fa.fa-minus(aria-hidden='true')
                                    input#playersNumber.form-control(type='text', name='playersNumber', autocomplete='off')
                                    button.btn.input-group-addon(type='button')
                                        i.fa.fa-plus(aria-hidden='true')
                        .form-group.row.p-0
                            label.col-sm-6.col-md-5.col-form-label(for='startTime') Time start
                            .col-sm-6.col-md-5
                                .input-group.group-number-time(role='group', data-default='8:00 am', data-min='8:00 am', data-max='6:00 pm')
                                    button.btn.input-group-addon(type='button')
                                        i.fa.fa-minus(aria-hidden='true')
                                    input#startTime.form-control(type='text', name='startTime', autocomplete='off')
                                    button.btn.input-group-addon(type='button')
                                        i.fa.fa-plus(aria-hidden='true')
                        .form-group.row.p-0
                            label.col-sm-6.col-md-5.col-form-label(for='duration') Duration
                            .col-sm-6.col-md-5
                                .input-group.group-duration(role='group', data-default='0:00', data-min='0:00', data-max='12:00', data-step='10')
                                    button.btn.input-group-addon(type='button')
                                        i.fa.fa-minus(aria-hidden='true')
                                    input#duration.form-control(type='text', name='duration', autocomplete='off')
                                    button.btn.input-group-addon(type='button')
                                        i.fa.fa-plus(aria-hidden='true')
                        .form-group.row.p-0
                            label.col-sm-6.col-md-5.col-form-label(for='price') Price
                            .col-sm-6.col-md-5
                                #price.price(type='text')
                                    h4
                                        i.fa.fa-dollar
                                        strong.price-value(data-default='0.00')
            .col-md-4
                #time-list.noselect.time-list.text-center
                //ul.time-list
                //    li
                //        span.badge.badge-success(data-duration='30')  8:00 am
                //    li
                //        span.badge.badge-success(data-duration='30')  8:30 am
                //    li
                //        span.badge.badge-success(data-duration='30')  9:00 am
                //    li
                //        span.badge.badge-success(data-duration='30')  9:30 am
                //    li
                //        span.badge.badge-success(data-duration='30') 10:00 am
                //    li
                //        span.badge.badge-success(data-duration='30') 10:30 am
                //    li
                //        span.badge.badge-success(data-duration='30') 11:00 am
                //    li
                //        span.badge.badge-success(data-duration='30') 11:30 am
                //    li
                //        span.badge.badge-success(data-duration='30') 12:00 pm
                //    li
                //        span.badge.badge-success(data-duration='30') 12:30 pm
                //    li
                //        span.badge.badge-success(data-duration='30') 10:00 pm
                //    li
                //        span.badge.badge-success(data-duration='30') 10:30 pm
                //    li
                //        span.badge.badge-success(data-duration='30') 12:00 pm
                //    li
                //        span.badge.badge-success(data-duration='30') 12:30 pm
                //    li
                //        span.badge.badge-success(data-duration='30')  1:00 pm
                //    li
                //        span.badge.badge-success(data-duration='30')  1:30 pm
                //    li
                //        span.badge.badge-success(data-duration='30')  2:00 pm
                //    li
                //        span.badge.badge-success(data-duration='30')  2:30 pm
                //    li
                //        span.badge.badge-success(data-duration='30')  3:00 pm
                //    li
                //        span.badge.badge-success(data-duration='30')  3:30 pm
                //    li
                //        span.badge.badge-success(data-duration='30')  4:00 pm
                //    li
                //        span.badge.badge-success(data-duration='30')  4:30 pm
                //    li
                //        span.badge.badge-success(data-duration='30')  5:00 pm
                //    li
                //        span.badge.badge-success(data-duration='30')  5:30 pm
                //    li
                //        span.badge.badge-success(data-duration='30')  6:00 pm
                //    li
                //        span.badge.badge-success(data-duration='30')  6:30 pm

                a#deselectAll(href="#")
                    i.fa.fa-fw.fa-bath.pull-right.mt-3(aria-hidden='true')
