extends ../layout
include ../block/order-card
include ../block/menu

block before
    link(rel='stylesheet', href='/stylesheets/order-card.css')
block after

block content
    .container
        .row
            aside.col-md-4.pull-left
                +menuBlock()
            section.col-md-8.pull-right.main-content
                h2
                    span Left Sidebar
                +orderCatd("info")
                +orderCatd("success")
                +orderCatd("warning")
                +orderCatd("primary")
                +orderCatd("danger")


